:root {
    --primary-color: #f90a39;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
  }

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3 {
    color: darkblue;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.casta {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 8px 80px 8px 80px;
    transition: 0.5s;
}
img:hover{
    scale: .95;
}

.imagem {
    display:flex ;
    justify-content: center;
    align-items: center;
}

a {
    color: yellow;
    text-decoration: none;
    padding: 15px;
    background-color: red;
    border-radius: 30px;
    transition: .5s;
}

a:hover{
    background-color: rgb(54, 54, 163);
    text-decoration: underline;
}